*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #002339;
    color: white;
}
.container{
   
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.display{
    width: 80%;
   
    margin-top:50px;
    margin-bottom: 30px;
    background: white;
    color: #333;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    border-radius: 5px;
}
.container h1{
    font-weight:500; 
    font-size: 45px;
}
.container h1 span{
    color:#019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border:0;
    outline: 0;
    font-size: 24px;
}

button img{
    width:28px;
    margin-right: 10px;
}
.container button{
    border:0;
    outline: 0;
    background: #019f55;
    color: white;
    font-size:20px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;

}
.display span{
    display: none;
}